@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-image: url(./Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  font-family: Roboto Slab;
}


h1{
    color: white;
    text-align: center;
}

.choice{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
button{
    border-radius: 50%;
    border: 10px solid #025464;
    box-shadow: rgb(139, 132, 132) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover{
    transition: 1s ease-in-out;
    scale: 1.1;
}
button img{
    width:100px;
}

.game-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
}

.player-choice, .computer-choice{
    color: aliceblue;
    background-color: #025464;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    border: 3px solid #aee8f4;
}

.result{
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.player-score, .computer-score{
    color: white;
    text-align: center;
    font-size: 22px;
    max-height: 100px;
}

.popup{
    color: white;
    text-align: center;
    margin: auto;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup input{
    padding: 10px 5px;
    margin-right: 40px;
}

.submit{
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
   }
   
   .submit:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
   .submit:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }

   .viewer{
    margin-top: 150px;
   } 

